@import "tailwindcss";
@import "@/src/styles/fonts.css";

@layer base {
  :root {
    --font-sans: "Avenir Next Cyrillic", system-ui, sans-serif;
    --font-serif: "IM Fell DW Pica", serif;
  }

  html {
    font-family: var(--font-sans);
  }

  body {
    @apply bg-green-200 antialiased;
  }
}
