---
import Layout from "@/src/layouts/layout.astro";
import { HeaderSection } from "@/src/sections/header";
import { HeroSection } from "@/src/sections/hero";
import { FeatureCards } from "@/src/sections/feature-cards";
import { FeatureGrid } from "@/src/sections/feature-grid";
import { RecentPosts } from "@/src/sections/recent-posts";

import { getCollection } from "astro:content";

const posts = await getCollection("articles");
const recentPosts = posts
  .sort((a, b) => {
    if (a.data.publishedDate.valueOf() === b.data.publishedDate.valueOf()) {
      return 0;
    } else {
      return a.data.publishedDate.valueOf() > b.data.publishedDate.valueOf()
        ? -1
        : 1;
    }
  })
  .slice(0, 6);
---

<Layout>
  <HeaderSection client:load />
  <main class="pt-24 md:pt-28">
    <HeroSection />
  </main>
  <FeatureCards />
  <FeatureGrid />
  <RecentPosts recentPosts={recentPosts} />
</Layout>
