---
import Layout from "@/src/layouts/layout.astro";
import { HeaderSection } from "@/src/sections/header";
import { HeroSection } from "@/src/sections/hero";
import { FeatureCards } from "@/src/sections/feature-cards";
import { FeatureGrid } from "@/src/sections/feature-grid";
---

<Layout>
  <HeaderSection />
  <main class="pt-24 md:pt-28">
    <HeroSection />
  </main>
  <FeatureCards />
  <FeatureGrid />
</Layout>
