---
import Layout from "@/src/layouts/layout.astro";
import { HeroSection } from "@/src/sections/hero";
import { FeatureCards } from "@/src/sections/feature-cards";
import { FeatureGrid } from "@/src/sections/feature-grid";
import { RecentPosts } from "@/src/sections/recent-posts";
import { ReflectionsSection } from "@/src/sections/reflections";
import { CallToAction } from "@/src/sections/call-to-action";

import { getCollection } from "astro:content";

const posts = await getCollection("articles");
const recentPosts = posts
  .sort((a, b) => {
    if (a.data.publishedDate.valueOf() === b.data.publishedDate.valueOf()) {
      return 0;
    } else {
      return a.data.publishedDate.valueOf() > b.data.publishedDate.valueOf()
        ? -1
        : 1;
    }
  })
  .slice(0, 6);

const title = "Wisecrust — A Realm of Thought and Reflection";
const description =
  "Explore deep philosophical concepts, historical insights, and modern reflections. Join a community dedicated to wisdom and thoughtful discussion.";
---

<Layout {title} {description}>
  <main class="pt-24 md:pt-28">
    <HeroSection client:load />
  </main>
  <FeatureCards client:load />
  <FeatureGrid client:load />
  <RecentPosts recentPosts={recentPosts} client:load />
  <ReflectionsSection client:load />
  <CallToAction client:load />
</Layout>
