---
import Layout from "@/src/layouts/layout.astro";
import { HeaderSection } from "@/src/sections/header";
import { HeroSection } from "@/src/sections/hero";
---

<Layout>
  <div class="fixed inset-0 -z-50 h-full w-full">
    <div
      class="absolute inset-0 bg-gradient-to-br from-white via-teal-100 to-green-100 opacity-80"
    >
    </div>
    <div class="absolute inset-0 backdrop-blur-[100px]"></div>
  </div>
  <div class="flex min-h-screen flex-col">
    <HeaderSection />
    <main class="flex-grow">
      <HeroSection />
    </main>
  </div>
</Layout>
